<%- include('../partials/cliente_header', { title: 'Agregar Saldo', loggedIn: loggedIn }) %>
  <h1>Agregar Saldo</h1>
  <!-- Formulario o contenido específico para agregar saldo -->

    </div>
  </div>
  <%- include('../partials/footer') %>
</body>
</html>
