<%- include('partials/header', { title: 'Registrarse', page: 'register', loggedIn: loggedIn }) %>
  <h1>Registrarse</h1>
  <% if (error) { %>
    <p class="error"><%= error %></p>
  <% } %>
  <form action="/users/register" method="POST">
    <input type="text" name="nombre_completo" placeholder="Nombre Completo" required>
    <input type="text" name="login" placeholder="Usuario" required>
    <input type="password" name="password" placeholder="Contraseña" required>
    <button type="submit">Registrarse</button>
  </form>
<%- include('partials/footer') %>
