<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <header>
    <img src="/images/logo-small.png" alt="Logo" class="logo-small">
    <nav>
      <a href="/admin/confirmar_pedidos">Confirmar Pedidos</a>
      <a href="/admin/eliminar_contenido">Eliminar Contenido</a>
      <a href="/admin/clientes">Clientes</a>
      <a href="/admin/ver_contenido">Ver Contenido</a>
      <a href="/admin/agregar_contenido">Agregar Contenido</a>
      <a href="/users/logout">Cerrar Sesión</a>
    </nav>
  </header>
  <main>
