<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
      <header>
        <img src="/images/logo-small.png" alt="Logo" class="logo-small">
        <nav>
          <a href="/cliente/menu_principal">Menu Principal</a>
          <a href="/cliente/agregar_saldo">Agregar Saldo</a>
          <a href="/users/logout">Cerrar Sesión</a>
        </nav>
      </header>
      <div class="cliente-background">
        <div class="cliente-container">
      <main>
