<%- include('../partials/admin_header', { title: 'Confirmar Pedidos', loggedIn: loggedIn }) %>
  <h1>Confirmar Pedidos de Saldo</h1>
  <!-- Contenido específico de confirmar pedidos -->
<%- include('../partials/footer') %>
